.button {
  padding: 0.5rem 2rem;
  border-radius: 4rem;
  border: none;
  background-color: #4f73d0;
  color: white;
  font-size: bold;
  font-family: sans-serif;
  transition: 0.6s;
}
.button:hover {
  background-color: #3a5da8;
  cursor: pointer;
  transition: 0.6s;
}
